<ion-app>
  <ion-split-pane content-id="menu">
    <ion-menu content-id="menu" side="start" menuId="custom" class="my-custom-menu" type="push">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item [routerLink]="page.url" [routerDirection]="root" [class.active-item]="selectedPath === page.url">
              {{page.title}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu"></ion-router-outlet>
  </ion-split-pane>
</ion-app>