<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <!-- Action Sheet -->
  <ion-card (click)="Action_Sheet()">

    <img src="../../assets/icon/conponents_icons/feature-component-actionsheet-icon.png" />

    <ion-card-content>
      <ion-card-title>Action Sheet</ion-card-title>
      <ion-card-subtitle>Action Sheets display a set of options with the ability to confirm or cancel an action.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Alert -->
  <ion-card (click)="Alert()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-alert-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Alert</ion-card-title>
      <ion-card-subtitle>Alerts are a great way to offer the user the ability to choose a specific action or list of
        actions.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Badge -->
  <ion-card (click)="Badge()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-badge-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Badge</ion-card-title>
      <ion-card-subtitle>Badges are a small component that typically communicate a numerical value to the user.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>


  <!-- Button -->
  <ion-card (click)="Button()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-button-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Button</ion-card-title>
      <ion-card-subtitle>Buttons let your users take action. They're an essential way to interact with and navigate
        through an app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Card -->
  <ion-card (click)="Card()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-card-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Card</ion-card-title>
      <ion-card-subtitle>Cards are a great way to display an important piece of content, and can contain images,
        buttons, text, and more.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Checkbox -->
  <ion-card (click)="Checkbox()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-checkbox-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Checkbox</ion-card-title>
      <ion-card-subtitle>Checkboxes can be used to let the user know they need to make a binary decision.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Chip -->
  <ion-card (click)="Chip()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-chip-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Chip</ion-card-title>
      <ion-card-subtitle>Chips are a compact way to display data or actions.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Content -->
  <ion-card  (click)="Content()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-content-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Content</ion-card-title>
      <ion-card-subtitle>Content is the quintessential way to interact with and navigate through an app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Date & Time Pickers -->
  <ion-card (click)="DateTime()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-datetimepicker-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Date & Time Pickers</ion-card-title>
      <ion-card-subtitle>Date & time pickers are used to present an interface that makes it easy for users to select
        dates and times.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Floating Action Button -->
  <ion-card (click)="FloatingActionButton()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-fab-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Floating Action Button</ion-card-title>
      <ion-card-subtitle>Floating action buttons are circular buttons that perform a primary action on a screen.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Icons -->
  <ion-card>

    <img src="../../assets/icon/conponents_icons/feature-component-icons-icon.png" />

    <ion-card-content>
      <ion-card-title>Icons</ion-card-title>
      <ion-card-subtitle>Beautifully designed icons for use in web, iOS, Android, and desktop apps.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Grid -->
  <ion-card (click)="Grid()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-grid-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Grid</ion-card-title>
      <ion-card-subtitle>The grid is a powerful mobile-first system for building custom layouts.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Infinite Scroll -->
  <ion-card (click)="Infinite_Scroll()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-infinitescroll-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Infinite Scroll</ion-card-title>
      <ion-card-subtitle>Infinite scroll allows you to load new data as the user scrolls through your app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Input -->
  <ion-card (click)="Input()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-input-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Input</ion-card-title>
      <ion-card-subtitle>Inputs provides a way for users to enter data in your app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Item -->
  <ion-card (click)="Item()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-item-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Item</ion-card-title>
      <ion-card-subtitle>Items are an all-purpose UI container that can be used as part of a list.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- List -->
  <ion-card (click)="List()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-lists-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>List</ion-card-title>
      <ion-card-subtitle>Lists can display rows of information, such as a contact list, playlist, or menu.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Navigation -->
  <ion-card>

    <img src="../../assets/icon/conponents_icons/feature-component-navigation-icon.png" />

    <ion-card-content>
      <ion-card-title>Navigation</ion-card-title>
      <ion-card-subtitle>Navigation is how users move between different pages in your app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Menu -->
  <ion-card (click)="Menu() ">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-menu-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Menu</ion-card-title>
      <ion-card-subtitle>Menus are a common navigation pattern. They can be permanently on-screen, or revealed when
        needed.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Modal -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-modal-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Modal</ion-card-title>
      <ion-card-subtitle>Modals slide in and off screen to display a temporary UI and are often used for login or
        sign-up pages.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Popover -->
  <ion-card (click)="Popover()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-popover-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Popover</ion-card-title>
      <ion-card-subtitle>Popover provides an easy way to present information or options without changing contexts.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Progress Indicators -->
  <ion-card (click)="Progress_Indicators()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-progress-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Progress Indicators</ion-card-title>
      <ion-card-subtitle>Progress indicators visualize the progression of an operation or activity.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Radio -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-radio-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Radio</ion-card-title>
      <ion-card-subtitle>Radio inputs allow you to present a set of exclusive options.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Refresher -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-refresher-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Refresher</ion-card-title>
      <ion-card-subtitle>Refresher provides pull-to-refresh functionality on a content component.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Searchbar -->
  <ion-card>

    <img src="../../assets/icon/conponents_icons/feature-component-search-icon.png" />

    <ion-card-content>
      <ion-card-title>Searchbar</ion-card-title>
      <ion-card-subtitle>Searchbar is used to search or filter items, usually from a toolbar.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Reorder -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-reorder-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Reorder</ion-card-title>
      <ion-card-subtitle>Reorder lets users drag and drop to reorder a list of items.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Routing -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-routing-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Routing</ion-card-title>
      <ion-card-subtitle>Routing allows navigation based on the current path.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Segment -->
  <ion-card>
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-segment-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Segment</ion-card-title>
      <ion-card-subtitle>Segments provide a set of exclusive buttons that can be used as a filter or view switcher.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Select -->
  <ion-card (click)="Select()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-select-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Select</ion-card-title>
      <ion-card-subtitle>Select is similar to the native HTML select, with a few improvements to sorting and selecting.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Slides -->
  <ion-card (click)="Slides()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-slides-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Slides</ion-card-title>
      <ion-card-subtitle>Slides make it easy to create complex UI such as galleries, tutorials, and page-based layouts.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Toast -->
  <ion-card (click)="Toast()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-toast-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Toast</ion-card-title>
      <ion-card-subtitle>Toast is used to show a notification over the top of an app's content. It can be temporary or
        dismissable.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <!-- Toolbar -->
  <ion-card (click)="Toolbar()">
    <div class="container">
      <img src="../../assets/icon/conponents_icons/component-toolbar-icon.png" class="Card-icon" />
    </div>

    <ion-card-content>
      <ion-card-title>Toolbar</ion-card-title>
      <ion-card-subtitle>Toolbars are used to house information and actions relating to your app.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

</ion-content>